body{
	font-family: 'Aref Ruqaa', serif !important;
}

input {
	color: black;
}

.content {
	text-align: center;
	margin: 40px auto;
	width: 100%;
	border-radius: 5px;
	padding-bottom: 32px;
}

#head1, #head2, #subhead {
	font-size: 40px;
	color: white;
	font-style: italic;
}


#header3 {
	font-size: 30px;
	color: black;
}
.form{
	margin-bottom: 60px; 

}

#button1 {
	position: absolute;
	left: 1000px;
	font-size: 15px;
}
#button2 {
	position: absolute;
	left: 1072px;
	font-size: 15px;
}
#button3 {
	position: absolute;
	left: 1200px;
	font-size: 15px;
}

.part2 {
	margin: 40px auto;
	max-width: 960px;
	text-align: center;

	font-size: 40px;
	font-weight: bold;
}

.btn-outline-danger {
	font-style: italic;

}

.container-fluid {
	background: #df0000;
}

.city {
	font-size: 40px;
	color: black;
}




.login-reg-panel{
    position:relative;
    top: 50%;
    transform: translateY(20%);
	text-align:center;
    width:70%;
	right:0;left:0;
    margin:auto;
    height:400px;
    background: #df0000;
}
.white-panel{
    background-color: rgba(255,255, 255, 1);
    height:500px;
    position:absolute;
    top:-50px;
    width:50%;
    right:calc(50% - 50px);
    transition:.3s ease-in-out;
    z-index:0;
    box-shadow: 0 0 15px 9px #00000096;
}

.login-reg-panel input[type="radio"]{
    position:absolute;
    display:none;
}
.white-panel{
    color:#000000;
}

.register-info-box{
    width:30%;
    padding:0 50px;
    top:20%;
    right:0;
    position:fixed;
    text-align:center;
    color:#ffffff;
    
}

.right-log{right:50px !important;}

.show-log-panel{
    display:block;
    opacity:0.9;
}

a{
  text-decoration:none;
  color:#2c7715;
}
    
    
    
