input {
	color: black;
	font-family: book-antiqua;
}

.content {
	text-align: center;
	font-family: book-antiqua;
	margin: 40px auto;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	background-attachment: fixed;
	width: 100%;
	max-width: 960px;
	border-radius: 5px;
	padding-bottom: 32px;
}

div {
	font-family: book-antiqua;
	color: black;
}

h1, h2, h3 {
	color: white;
	font-family: book-antiqua;
}

h3 {
	font-style: italic;
}

#grid {
	background-color: red;
}