body{
	font-family: 'Architects Daughter', cursive !important;
}
.content {
	text-align: center;
	margin: 40px auto;
	width: 100%;
	border-radius: 5px;
	padding-bottom: 32px;
}

#head1, #head2, #subhead {
	font-size: 40px;
	color: white;
	font-style: italic;
text-align: center;
}

.container-fluid {
	background: #df0000;
	
}


input {
	color: black;
}
